@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Developer</h3>
<p>Mizael Julio Xavier Junior </p>
<address>
    Software Engineer<br />
    Brazil<br />
    <abbr title="Phone">Phone:</abbr>
    +55 81 986057305
</address>

<address>
    <strong>Support for Email:</strong> <a href="mailto:mjx.junior@outlook.com">mjx.junior@outlook.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/MizaelJR17">https://github.com/MizaelJR17</a>
</address>
